  <aside class="category-wrapper">
    <h4 class="category-title">All Tags</h4>
    <ul class="category-list">
      {{#each tags}}
        <li class="category-list-item"><a href="">{{this.label}}</a></li>
      {{/each}}
    </ul>
  </aside>
