  <aside class="category-wrapper">
    {{tagUrl}}
    <h4 class="category-title">All Tags</h4>
    <ul class="category-list">
      {{#each tags}}
        <li class="category-list-item"><a href="{{tagUrl}}">{{this.label}}</a></li>
      {{/each}}
    </ul>
  </aside>
