<div class="big-container product-manage-wrapper flexed-item">
  <form method="post" action="/prod-add" class="add-product-form">
    <h3 class="form-title">Add Sneackers to the collection</h3>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-name" class="label-name label">Model name</label>
      <input type="text" class="input-text input" value="Nike Air Max 90" name="name">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-ref" class="label-ref label">Réf.</label>
      <input type="text" class="input-text input" value="NV23498" name="ref">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-size" class="label-ref label">Size</label>
      <input type="number" class="input-text input" value="37" min="36" max="47" name="size">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-descr" class="label-descr label">Description</label>
      <input type="text" class="input-text input" value="The better sneakers to run" name="description">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-price" class="label-price label">Price</label>
      <input type="text" class="sneacker-price input" min="1" name="price">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-main-cat" class="label-main-cat label">Main category</label>
      <select name="category" id="main_category" class="select">
        <option value="">Choose main Category...</option>
        <option value="Men">Men</option>
        <option value="Women">Women</option>
        <option value="Kids">Kids</option>
      </select>
    </div>
    <div class="form-item-wrapper flexed-item">
      <label class="label">Tags</label>
      <select name="id_tag" id="secondary_category" class="select">
        <option value="">Choose Secondary Category...</option>
        {{#each tags}}
          <option value={{this.label}}>{{this.label}}</option>
        {{/each}}
      </select>
    </div>
    <button class="button-primary add-sneacker-btn">Add to collection</button>
  </form>

  <form method="post" action="/tag-add" class="add-category-form">
    <h3 class="form-title">Add tags</h3>
    <div class="form-item-wrapper flexed-item">
      <label for="category-name" class="category-name label">Sneaker tag</label>
      <input type="text" class="input" placeholder="ex: Gangsta" name="label">
    </div>
    <button class="button-primary add-category-btn">Create this category</button>
  </form>
</div>